body {
    font-family: sans-serif;
}

header {
    padding: 15px;
    color: navy;
    background-color: lightblue;
    margin-bottom: 15px;
}

header a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

header a:hover {
    color: blue;
}

h1 {
    text-align: center;
    color: navy;
    margin-top: 40px;
}

nav {
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid lightblue;
}

nav a {
    margin: 40px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: blue;
}

footer p {
    border: 1px solid grey;
    padding: 5px 0px 5px 10px;
}
